/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* Estilos para o corpo da página */
body {
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  background-size: cover;
  height: 100vh;
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para a caixa principal */
.caixa-maior {
  background-color: #000000;
  opacity: 0.8;
  width: 95%;
  max-width: 450px;
  border-radius: 10px;
}

/* Estilos para o ícone da lupa */
.lupa {
  height: 30px;
  width: 35px;
}

/* Estilos para o botão */
button:hover {
  background-color: #7c7c7c2b;
}
button {
  border: none;
  padding: 2.5px;
  background-color: #7c7c7c2b;
  cursor: pointer;
  border-radius: 50%;
  float: right;
}

/* Estilos para a entrada de texto */
input {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #7c7c7c2b;
  color: #ffffff;
  width: calc(100% - 100px);
}

/* Estilos para a caixa de informações */
.caixa-media {
  margin-top: 20px;
  background-color: #000000;
  max-width: 450px;
  border-radius: 10px;
  width: calc(100% - 100px);
  float: right;
}

/* Estilos para os elementos de texto */
.cidade {
  color: #ffffff;
  font-size: 28px;
}

.graus {
  color: #ffffff;
  margin-top: 30px;
  font-size: 30px;
}

.tempo {
  color: #ffffff;
  margin-top: 20px;
  font-size: 30px;
}

.umidade {
  color: #ffffff;
  margin-top: 20px;
  font-size: 30px;
}
